.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: o 8px;
}

.filme-info h1{
    margin: 14px 0;
    margin-left: 8px;
}

.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3{
    margin-top: 14px;
    margin-left: 8px;
}

.filme-info span{
    margin: 8px 0;
    margin-left: 8px;
}

.filme-info strong{
    margin-left: 8px;
}

.area-buttons button{
    background-color: #e0e0e0;
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 8px;
}

.area-buttons button:hover{
    background-color: brown;
    color: #FFF;
}

.area-buttons a{
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.area-buttons a:hover{
    color: #FFF;
}

